<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" (click)="closeModal()" color="tertiary" strong="true">
        <ion-icon slot="start" name="close"></ion-icon> Cerrar
      </ion-button>
    </ion-buttons>

    <!-- Submit button del formulario, solo disponible en caso de no haber ningún error -->
    <ion-buttons slot="end">
      <ion-button strong size="small" shape="round" color="tertiary" strong="true"
        [disabled]="!validation_form.valid" (click)="onSubmit(validation_form.value)">
        Enviar <ion-icon slot="end" name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="validation_form">

    <!-- Nombre tabla -->
    <ion-item>
      <ion-label position="floating" color="primary">Nombre de tabla</ion-label>
      <ion-input formControlName="tableName" type="text"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.tableName">
        <div class="error-message"
          *ngIf="validation_form.get('tableName').hasError(validation.type) && (validation_form.get('tableName').dirty || validation_form.get('tableName').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <!-- Iteramos lista de controles para los elementos añadidos con el botón añadir dupla -->
    <ion-grid>
      <ion-row *ngFor="let control of validation_form.controls | keyvalue;">

        <ion-col *ngIf="control.key != 'tableName'" size="5">
          <ion-item>
            <div formGroupName="{{control.key}}">
              <ion-input type="text" formControlName="spanishName" placeHolder="español"></ion-input>
            </div>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.duplaControlMessages">
              <div class="error-message"
                *ngIf="validation_form.get(control.key + '.spanishName').hasError(validation.type) && (validation_form.get(control.key + '.spanishName').dirty || 
                validation_form.get(control.key + '.spanishName').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>

        <ion-col *ngIf="control.key != 'tableName'" size="5">
        
          <ion-item>
            <div formGroupName="{{control.key}}">
              <ion-input type="text" formControlName="englishName" placeHolder="ingles"></ion-input>
            </div>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.duplaControlMessages">
              <div class="error-message"
                *ngIf="validation_form.get(control.key + '.englishName').hasError(validation.type) && (validation_form.get(control.key + '.englishName').dirty || 
                validation_form.get(control.key + '.englishName').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>

        <ion-col *ngIf="control.key != 'tableName'" size="2">
          <ion-fab-button color="light" size="small" (click)="removeControl(control)"
            [disabled]="!validation_form.valid">
            <ion-icon name="close-circle"></ion-icon>
          </ion-fab-button>
        </ion-col>

      </ion-row>
    </ion-grid>

    <!-- Botón para añadir dupla de elementos a modo de formControls -->
    <ion-button expand="block" shape="round" color="danger" (click)="addControl()">
      Añadir pareja
      <ion-icon slot="end" name="add-circle"></ion-icon>
    </ion-button>

  </form>

</ion-content>