:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-secondary), var(--ion-color-dark)); // Color de fondo Settings
  }
}

ion-avatar {
    width: 68px;
    height: 68px;
}
