<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Di Mi Nombre</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides #wordSlider pager="true">

    <ion-slide *ngFor="let tableElement of tableArrayElements | alterOrder">
      <ion-row center>
        <ion-col text-center>

          <ion-text color="light">
            <h1><strong>{{tableElement.spanishName}}</strong></h1>
          </ion-text>

          <ion-button size="large" strong=true *ngFor="let letter of tableElement.englishName | spell | shuffle">
            <ion-text color="light">
             {{ letter }}
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
              <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg> -->

    </ion-slide>

  </ion-slides>
</ion-content>