ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-secondary), var(--ion-color-dark)); // SEJMM Color fondo pantalla UnePalabras (Todas las fases)
}

ion-slides {
  height: 100%; // 100vh(100% altura del viewPort)
  --bullet-background: var(--ion-color-light);
  --bullet-background-active: var(--ion-color-secondary);
}
.mydiv {
  margin: auto;
  height: 30px;
  width: 30px; 
  border-bottom: 2px var(--ion-color-dark-contrast) solid; 
  text-align: center;
}
.mydivActive {
  margin: auto;
  height: 30px;
  width: 30px; 
  border-bottom: 5px var(--ion-color-dark-contrast) ridge; 
  text-align: center;
}

ion-grid {
  height: 100%;
}

