<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Di Mi Nombre</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides #slides pager="true">

    <ion-slide *ngFor="let tableElement of randomizedTableArrayElements">
      <ion-grid padding-top>
        <ion-row justify-content-center>
          <ion-col>
            <ion-text color="light">
              <h1><strong>{{tableElement.spanishName}}</strong></h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row style="height: 10%"></ion-row> <!-- Espacio  -->

        <ion-row justify-content-center>
          <ion-col>
            <ion-button size="large" strong=true *ngFor="let letter of tableElement.englishName | spell | shuffle" (click)="gameLogic(letter)">
              <ion-text color="light">
                {{ letter }}
              </ion-text>
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row style="height: 20%"></ion-row> <!-- Espacio  -->

        <ion-row margin-bottom justify-content-center>
          <ion-col *ngFor="let letter of inputLettersArray">
            <div class="mydiv">
              <ion-label color="light">
                {{ letter }}
              </ion-label>
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: 10%;margin-bottom: 10%" justify-content-center>
          <ion-button fill="outline" (click)="deleteLetter()">
            <ion-icon slot="icon-only" name="backspace"></ion-icon>
          </ion-button>
          <ion-button fill="outline" (click)="isfinishSlide()">
            <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
      <!-- <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
              <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
              <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg> -->

    </ion-slide>

  </ion-slides>
</ion-content>