<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Gestiona tus tablas</ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
 
      <ion-list class="bg-list">
        <ion-button expand="block" *ngFor="let animal of animals | alterOrder" (click)="selectWords(animal.id,0)" [id]="animal.id">
            {{ animal.spanishName }}
        </ion-button>
      </ion-list>
    
</ion-content>
