ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-secondary), var(--ion-color-dark)); // SEJMM Color fondo pantalla UnePalabras (Todas las fases)
}

ion-button {
    height: 45px;
}

.manage-table-button {
    font-size: 20px;
    padding-right: 0px;
}