<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-results"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light" class="fw700">Crea tu tabla</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <!-- <ion-row center>
    <ion-col text-center>
      <ion-button shape="round" color="dark" (click)="presentImage(themeCover)" strong>
        <ion-icon slot="end" name="add-circle-outline"> </ion-icon>
        Añadir
      </ion-button>
    </ion-col>
  </ion-row> -->

  <ion-grid>
    <ion-row *ngFor="let table of tablesArrayName">
      <ion-col>
        <ion-list class="bg-list">
          <ion-button expand="block" (click)="presentImage(themeCover)">
            {{ table }}
          </ion-button>
        </ion-list>
      </ion-col>

      <ion-col size="2">
        <ion-list class="bg-list">
          <ion-button color="dark" (click)="deleteTable(table)" strong>
            <ion-icon size="small" name="trash"></ion-icon>
          </ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="danger">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>