<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre Say My Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/SayMyName.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Descripción:</strong></ion-text>
      </h1>

      <p margin-bottom>
        Versión: 1.0 ({{device}})
      </p>
      
      <p margin-bottom>
        Aplicación híbrida multiplataforma desarrollada mediante el framework Ionic, a modo de juego sencillo e intuitivo, 
        con el objetivo de agilizar el proceso de aprendizaje del idioma.
      </p>
        
      <p margin-bottom>
        Desarrollada por Javier Macarro Medina como TFG para la Universidad de Sevilla Dpto. Ciencias de la Computación e Inteligencia Artificial.
      </p>

      <div>Icons made by <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a></div>


    </ion-card-content>
  </ion-card>

</ion-content>