<ion-app>
  <!-- SEJMM INI DS004; SplashScreen + Animation-->
  <div *ngIf="showSplash" class="splash">
    <!-- <div class="spinner"></div> -->
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
  </div>
  <!-- SEJMM FIN DS004; SplashScreen + Animation-->
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="dark" class="user-profile">

          <ion-item margin-bottom>
            <ion-avatar slot="start" class="user-avatar">
            <img src="assets/img/avatar.jpg">    <!-- SEJMM Incluir Foto mia -->
            </ion-avatar>
            <ion-label>
              <ion-text color="medium">
                <h1><strong>Javier Macarro</strong></h1>
              </ion-text>
              <ion-text color="secondary">
                <h3>
                  Sevilla, España
                </h3>
              </ion-text>
              <!-- <ion-menu-toggle class="mto" auto-hide="false">
                <a class="text08" tappable (click)="goToEditProgile()">
                  <ion-text color="medium">
                    <ion-icon name="contact"></ion-icon>
                    <strong>edit profile</strong>
                  </ion-text>
                </a> <ion-text color="secondary"> | </ion-text> 
                <a class="text08" tappable (click)="logout()">
                  <ion-text color="medium">
                    <ion-icon name="log-out"></ion-icon>
                    <strong>logout</strong>
                  </ion-text>
                </a>
              </ion-menu-toggle> -->
            </ion-label>
          </ion-item>

        </ion-toolbar>
      </ion-header>

      <ion-content class="bg-profile">
        <ion-list>
          <ion-list-header color="dark">
            <ion-label>Menu</ion-label>
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]" color="primary">
              <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
