<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-results"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light" class="fw700">Elige Juego</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="bg-list" inset=true>
    <ion-button margin shape="round" expand="full" (click)="goToUnePalabras()">
      Une Palabras
      <ion-icon slot="end" src="../../../assets/img/flecha-derecha.svg"></ion-icon>
    </ion-button>
    <ion-button margin shape="round" expand="full" (click)="goToDiMiNombre()">
      Di Mi Nombre
      <ion-icon slot="end" src="../../../assets/img/rompecabezas.svg"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>
