// .si{
//     background-color: #6c5;
// }
// .no{
//     background-color: #933;
// }
// .eligiendo{
//     background-color: yellow;
// }
// .default{
//     background-color: white;
// }
// .cleanText{
//     color: white;
// }
//////////
.sib{
    background: var(--ion-color-success) !important;
    border-radius: 4px 4px 4px 4px;
    color: white;
}
.nob{
    background: var(--ion-color-danger) !important; 
    border-radius: 4px 4px 4px 4px;
    color: white;
}
.eligiendob{
    background: var(--ion-color-warning) !important;
    border-radius: 4px 4px 4px 4px;
    color: black;
}
.defaultb{
    background: var(--ion-color-light) !important;
    border-radius: 4px 4px 4px 4px;
    color:black;
}

///////////////
.columnTitle{
    font-weight: bold;
}

.bg-list{
    background: transparent; // SEJMM Color fondo lista en UnePalabras (Todas las fases)
    padding: 0%;
}
ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-secondary), var(--ion-color-dark)); // SEJMM Color fondo pantalla UnePalabras (Todas las fases)
}

ion-button{
    box-shadow: none;
}
