:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
}

// ion-content {
//     img {
//         object-fit: cover;
//     }
// }

.submit-btn {
  margin-top: 40px;
}

.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
