<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" (click)="closeModal()" color="tertiary">
        <ion-icon slot="start" name="close"></ion-icon> Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="validation_form">

    <!-- Nombre tabla -->
    <ion-item>
      <ion-label position="floating" color="primary">Nombre de tabla</ion-label>
      <ion-input formControlName="tableName" type="text"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.tableName">
        <div class="error-message"
          *ngIf="validation_form.get('tableName').hasError(validation.type) && (validation_form.get('tableName').dirty || validation_form.get('tableName').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
  </form>

  <!-- Iteramos lista de controles para los elementos añadidos con el botón añadir dupla -->
  <form [formGroup]="elems_form">
      <div *ngFor="let control of elems_form.controls | keyvalue; let i = index; let odd = odd; let even = even">

        <ion-col size="5" *ngIf="even">
          <div>
            <ion-item>
              <ion-input type="text" [formControlName]="control.key" placeHolder="español"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="5" *ngIf="odd" >
          <div>
            <ion-item>
              <ion-input type="text" [formControlName]="control.key" placeHolder="inglés"></ion-input>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="2" >
          <div>
            <ion-fab horizontal="end" slot="fixed">
              <ion-fab-button color="light" size="small" (click)="removeControl(control)">
                <ion-icon name="close-circle"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>
        </ion-col>
      </div>
  </form>

  <!-- Botón para añadir dupla de elementos a modo de formControls -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="danger" (click)="addControl()" [disabled]="!validation_form.valid">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Submit button del formulario, solo disponible en caso de no haber ningún error -->
  <ion-button color="primary" class="submit-btn" expand="full"
    (click)="onSubmit(validation_form.value, elems_form.value)"
    [disabled]="!validation_form.valid && !elems_form.valid">
    Enviar
  </ion-button>


</ion-content>